*
body {
    background-image: url('/Assets/Podcast\ new.png');
    background-size: 189vh;
}
/* Navbar Zone */
.navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10px;
}

.ul-navigationbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 50px;
}

.logo-mradio {
    margin-left: 20px;
}

.podcast-button {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.home-button {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.home-button:hover {
    cursor: pointer;
    color: #F00505;
}

.meetTeam-button {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.meetTeam-button:hover {
    cursor: pointer;
    color: #F00505;
}

.podcast-button:hover {
    cursor: pointer;
    color: #F00505;
}

.news-button {
    cursor: pointer;
    text-decoration: none;
    color: gray;
}

.news-button:hover {
    cursor: pointer;
    color: gray;
}

.topChart-button {
    text-decoration: none;
    color: #ffffff;
}

.topChart-button:hover {
    cursor: pointer;
    color: #F00505;
}
/* Navbar Zone End */

/* Body Content */
.news-text {
    display: flex;
    font-family: 'Poppins', sans-serif;
    text-shadow: rgb(185, 222, 90) 0px 5px 0px;
    color: #FF33C6;
    justify-content: center;
    padding-bottom: 44px;
    margin-top: none;
}

.article {
    display: flex;
    gap: 20px;
    height: 50vh;
}

.article-bar {
    background-color: #000000;
}

.article-highlight {
    color: #ffffff;
    padding-bottom: 10px;
}

.text-article {
    color: #f9e95f;
    font-size: 12px;
}
.article-link {
    text-decoration: none;
}

.text-article:hover {
    cursor: pointer;
    color: #940707;
}

.text-showAll {
    display: flex;
    color: #3D9BE9;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Body Content End */

/* Responsive */
.navbar-Responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
    padding-top: none;
    margin-right: 15px;
    margin-left: 10px;
}
.menu {
    margin: 0;
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 200px;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: #000000;
    background-position: left;
    opacity: 80%;
}

.burgir {
    color: #ffffff;
}

.burgirClose {
    color: #ffffff;
}

.libutton {
    margin: 0;
    display: flex;
    position: fixed;
    flex-direction: row;
    right: 170px;
    top: 100px;
    width: 50vw;
    font-style: bold;
    font-size: 20px;
    gap: 35px;
}

.logo-mradioResponsive {
    width: 80px;
    height: 60px;
    background: none;
    position: relative;
}

.home-buttonResponsive {
    color: white;
    font-size: 20px;
    bottom: 0;
    text-decoration: none;
    
}

.meetTeam-buttonResponsive {
    color: white;
    text-decoration: none;
}

.podcast-buttonResponsive {
    color: white;
    text-decoration: none;
}

.news-buttonResponsive {
    color: #3D9BE9;
    text-decoration: none;
}

.topChart-buttonResponsive {
    color: white;
    text-decoration: none;
}

.articleResponsive {
    display: flex;
    gap: 20px;
    height: 20vh;
    flex-direction: column;
    align-items: center;
}

.text-showAllResponsive {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding-top: 410px;
    color: #3D9BE9;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/* Responsive End */