*
body {
    background-image: url('/Assets/Podcast.png');
    background-size: 200vh;
}


/* Navbar Zone */
.navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 80px;
}

.ul-navigationbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 50px;
}

.logo-container {
    display: flex;
    gap: 20px;
}

.logo-mradio {
    /* margin-left: 20px; */
    width: 140px; 
    height: 99px;
}

.logo-kampus {
    display: flex;
    border: 1px;
    width: 90ppx;
    height: 70px;
    background-color: #ffffff;
    border-radius: 50px;
}

.logo-ilkom {
    display: flex;
    width: 200px;
    height: 100%;
    margin: none;
}

.home-button {
    text-decoration: none;
    color: #ffffff;
}

.podcast-button {
    cursor: pointer;
    text-decoration: none;
    color: gray;
}

.home-button:hover {
    cursor: pointer;
    color: #F00505;
}

.meetTeam-button {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

.meetTeam-button:hover {
    cursor: pointer;
    color: #F00505;
}

.news-button {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.news-button:hover {
    cursor: pointer;
    color: #F00505;
}

.podcast-button:hover {
    cursor: pointer;
}

.topChart-button {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

.topChart-button:hover {
    cursor: pointer;
    color: #F00505;
}
/* Navbar Zone End */

/* Body Zone */
.podcast-txt {
    letter-spacing: normal;
    vertical-align: baseline;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    text-shadow: rgb(185, 222, 90) 0px 5px 0px;
    color: #FF33C6;
    line-height: normal;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
}

.body-division {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/* Body Zone End */

/* Responsive */
.navbar-Responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 5px;
    padding-top: none;
    margin-right: 15px;
    margin-left: 10px;
}
.menu {
    margin: 0;
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 170px;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: #000000;
    background-position: left;
    opacity: 80%;
}

.burgir {
    color: #ffffff;
}

.burgirClose {
    color: #ffffff;
}

.libutton {
    margin: 0;
    display: flex;
    position: fixed;
    flex-direction: row;
    right: 170px;
    top: 100px;
    width: 50vw;
    font-style: bold;
    font-size: 20px;
    gap: 35px;
}

.logo-responsive {
    display: flex;
    gap: 10px;
}

.logo-mradioResponsive {
    width: 80px;
    height: 60px;
    background: none;
    position: relative;
}

.logo-ilkomResponsive {
    display: flex;
    width: 100px;
}
.home-buttonResponsive {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    
}

.meetTeam-buttonResponsive {
    color: white;
    text-decoration: none;
}

.podcast-buttonResponsive {
    color: #3D9BE9;
    text-decoration: none;
}

.news-buttonResponsive {
    color: white;
    text-decoration: none;
}

.topChart-buttonResponsive {
    color: white;
    text-decoration: none;
}

.text-profileResponsive2 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.episode-top {
    padding-top: 35px;
}

.podcast-logoResponsive {
    width: 18vw;
    height: 10vh;
    margin-right: 20px;
    border-radius: 25px;
}

.h4-profileResponsive {
    font-size: 10px;
    color: white;
    margin-bottom: 15px;
}

.h1-profileResponsive {
    font-size: 20px;
    color: white;
    margin-top: 0;
}

.podcast-containerResponsive {
    display: flex;
    right: 0;
    left: 40px;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    /* padding-top: 110px; */
    box-shadow: -10px 14px 5px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 14px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 14px 5px 1px rgba(0,0,0,0.75);
    border-radius: 15px;
    margin-right: 200px;
    margin-left: 200px;
}

.button-moreResponsive {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 1px solid;
    border-radius: 25px;
    background-color: #F00505;
    text-decoration: none;
    border-radius: 25px;
    width: 50vw;
    margin-top: 450px;
    position: fixed;
    height: 8vh;
    color: #ffffff;
    right: 90px;
}

.button-moreResponsivediv {
    display: flex;
}

.podcast-txtResponsive {
    letter-spacing: normal;
    vertical-align: baseline;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-shadow: rgb(185, 222, 90) 0px 5px 0px;
    color: #FF33C6;
    line-height: normal;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
    padding-top: 20px;
}

.body-divisionResponsive {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/* Responsive End */