*
body {
    background-image: url('/Assets/Stream\ New.png');
    background-size: 200vh;
}

/* Navbar Zone */
.navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 250px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 30px;
}

.ul-navigationbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 50px;
}

.home-button {
    text-decoration: none;
    color: #ffffff;
}

.podcast-button {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.meetTeam-button {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.topChart-button {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.logo-mradio {
    width: 140px; 
    height: 99px;
}

.home-button:hover {
    cursor: pointer;
    color: #F00505;
}

.meetTeam-button:hover {
    cursor: pointer;
    color: #F00505;
}

.podcast-button:hover {
    cursor: pointer;
    color: #F00505;
}

.news-button {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.news-button:hover {
    cursor: pointer;
    color: #F00505;
}

.topChart-button:hover {
    cursor: pointer;
    color: #F00505;
}
/* Navbar Zone End */

.body-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* Radio Bar */
.caster-bar {
    display: flex;
    position: relative;
    margin-top: 5%;
    margin-right: 400px;
    margin-left: 400px;
}
/* Radio Bar End */

/* Clock */
.clock {
    display: flex;
    font-style: 'Poppins', sans-serif;
    color: #ffffff;
    position: absolute;
    padding: 10px 20px;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.clockResponsive {
    font-style: 'Poppins', sans-serif;
    color: #ffffff;
    position: absolute;
    padding: 10px 20px;
    font-size: 150%;
    left: 50%;
    transform: translateX(-50%);
}
/* Clock End */

/* Body Bottom */
.showzone {
    padding-top: 200px;
}

.program-text {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    font-family: caudex,serif;
    font-size: 17px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.program-logo {
    display: flex;
    width: 158px;
    height: 127px;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    margin-top: 25px;
}

.program-logo1 {
    border-radius: 18px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.special-show {
    display: flex;
    width: 158px;
    height: 127px;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    margin-top: 25px;
}
/* Body Bottom End */

/* Responsive */
.navbar-Responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
    padding-top: none;
    margin-right: 15px;
    margin-left: 10px;
    gap: 250px;
}

.menu {
    margin: 0;
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 170px;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: #000000;
    opacity: 80%;
}

.libutton {
    margin: 0;
    display: flex;
    position: fixed;
    flex-direction: row;
    right: 170px;
    top: 100px;
    width: 50vw;
    font-style: bold;
    font-size: 20px;
    gap: 35px;
}

.logo-mradioResponsive {
    width: 80px;
    height: 60px;
    background: none;
    position: relative;
}

.home-buttonResponsive {
    color: white;
    text-decoration: none;
}

.meetTeam-buttonResponsive {
    color: white;
    text-decoration: none;
}

.podcast-buttonResponsive {
    color: white;
    text-decoration: none;
}

.news-buttonResponsive {
    color: white;
    text-decoration: none;
}

.topChart-buttonResponsive {
    color: white;
    text-decoration: none;
}

.burgir{
    color: #ffffff;
}

.burgirClose {
    color: #ffffff;
}

.program-textResponsive {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-style: bold;
    color: #202124;
    font-family: 'Poppins';
}

.program-logoResponsive {
    display: flex;
    width: 20%;
    height: 10%;
    gap: 20px;
    margin-left: 0;
}

.special-responsive {
    display: flex;
    width: 20%;
    height: 10%;
    gap: 20px;
    padding-top: 20px;
    margin-left: 10px;
}

.program1-responsive {
    border-radius: 18px;
    width: 100px;
    align-items: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.program-textResponsive {
    padding-top: 20px;
}
/* Responsive End */

/* Radio Bar Responsive */
.radioZone-responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

.showzoneResponsive {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
}
/* Radio Bar Responsive End */