*
body {
    background-image: url('/Assets/Home-background.png');
    background-size: 200vh;
}

/* Navbar Zone */
.navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 50px;
}

.ul-navigationbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 50px;
}

.logo-mradio {
    /* margin-left: 20px; */
    width: 140px; 
    height: 99px;
}

.podcast-button {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.home-button {
    color: gray;
}

.home-button:hover {
    cursor: pointer;
}

.meetTeam-button:hover {
    cursor: pointer;
    color: #F00505;
}

.podcast-button:hover {
    cursor: pointer;
    color: #F00505;
}

.news-button {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.news-button:hover {
    cursor: pointer;
    color: #F00505;
}

.topChart-button:hover {
    cursor: pointer;
    color: #F00505;
}
/* Navbar Zone End */

/* Body Zone */
.body-container {
    /* display: flex; */
    /* margin-left: 5px; */
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    margin-left: auto;
    justify-content: center
}

.body1-container {
    /* display: flex; */
    flex-direction: column;
}

.home-text {
    /* display: flex; */
    letter-spacing: normal;
    vertical-align: baseline;
    font-weight: bold;
    font-size: 48px;
    font-family: suez one, serif;
    text-shadow: rgb(0 0 0 / 30%) 0px 5px 0px;
    color: #F00505;
    line-height: normal;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.home-description {
    /* display: flex; */
    font-size: 15px;
    font-style: italic;
    font-family: trirong,serif;
    color: #000000;
    line-height: 1.8em;
    text-align: justify;
    overflow-wrap: break-word;
    letter-spacing: normal;
    visibility: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
}

.stream-button {
    border: 1px solid;
    border-radius: 25px;
    margin-right: 100px;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px;
    background-color: #F00505;
    text-decoration: none;
    color: white;
}

.stream-button:hover {
    background-color: #3D9BE9;
    cursor: pointer;
}
/* Body Zone End */

/* Responsive */

.navbar-Responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
    padding-top: none;
    margin-right: 15px;
    margin-left: 10px;
}
.menu {
    margin: 0;
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-color: #000000;
    opacity: 80%;
}

.libutton {
    margin: 0;
    display: flex;
    position: fixed;
    flex-direction: row;
    right: 0;
    top: 100px;
    width: 50vw;
    height: 50vh;
    font-style: bold;
    font-size: 20px;
}

.logo-mradioResponsive {
    width: 80px;
    height: 60px;
    background: none;
    position: relative;
}

.home-buttonResponsive {
    color: rgb(19, 19, 241);
    font-size: 20px;
}

.meetTeam-buttonResponsive {
    color: white;
}

.podcast-buttonResponsive {
    color: white;
    text-decoration: none;
}

.news-buttonResponsive {
    color: white;
    text-decoration: none;
}

.topChart-buttonResponsive {
    color: white;
}

.body-containerResponsive {
    display: flex;
}

.heading-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    padding-bottom: 20px;
}

.home-textResponsive {
    font-family: suez one, serif;
    font-size: 40px;
    text-shadow: rgb(0 0 0 / 30%) 0px 5px 0px;
    color: #F00505;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
}

.home-descriptionResponsive {
    display: flex;
    font-size: 15px;
    color: gray;
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
}

.button-containerResponsive {
    display: flex;
    border: 1px solid;
    border-radius: 25px;
    background-color: #F00505;
    text-decoration: none;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
    margin-left: 80px;
}
/* Responsive End */